<div class="login-bg">
  <div class="wapper-login">
    <div class="content-logo">
      <img src="/../../../assets/img/logo.png"/>
    </div>
    <span>Bem-vindo ao nosso sistema de agenda telefônica! </span>
    <form [formGroup]="formLogin" (ngSubmit)="save()">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
      <div *ngIf="(submitted || f.password.touched) && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors['required']" class="invalid-field">Campo Obrigatório</div>
      </div>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="(submitted || f.password.touched) && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors['required']" class="invalid-field">Campo Obrigatório</div>
      </div>
      <button mat-flat-button color="primary">Entrar</button>
    </form>
  </div>

  <div class="wapper-img">
  </div>
</div>
