.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-weight: 500;
    color: #673ab7;
  }

  span{
    font-size: 10px;
    color: grey;
    text-align: center;
    margin-bottom: 2em;
  }

  .wapper-login{
    width: auto;
    min-width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 6px 0 0 6px;
    padding: 1em 2em;
    form{
      width: auto;
      display: flex;
      flex-direction: column;
    }

    .content-logo{
      display: flex;
      justify-content: center;
      padding: 2em 2em 1em 2em;

      img{
        width: 100px;
      }
    }
  }

  .wapper-img{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(98 43 197 / 50%), rgba(0,0,0,0.5)), url("../../../assets/img/agenda.jpg");
    border-radius: 0 6px 6px 0;
    padding: 1em;
    background-size: cover;
    background-position: right;

  }
}

.invalid-field{
  font-size: 10px;
  color: red;
  text-align: end;
  margin-top: -1em;
}


