<div class="wapper">
  <h1>Lista de Contatos</h1>

  <form [formGroup]="formSearch" (ngSubmit)="search(0, 10)">
    <mat-grid-list cols="8" rowHeight="100px" gutterSize="20">
      <mat-grid-tile [colspan]="5">
        <mat-form-field appearance="legacy">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-label>Favorito?</mat-label>
          <mat-select formControlName="favorite">
            <mat-option [value]="true">Sim</mat-option>
            <mat-option [value]="false">Não</mat-option>
            <mat-option [value]="null" selected>Todos</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile >
        <div style="
      text-align: end;
       width: 100%;">
          <button mat-flat-button color="primary" type="submit" style="width: 100%">Pesquisar</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <table mat-table [dataSource]="dataSource.content!" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
    </ng-container>
    <ng-container matColumnDef="cellPhone">
      <th mat-header-cell *matHeaderCellDef> Celular </th>
      <td mat-cell *matCellDef="let element"> {{element.cellPhone | mask: '(00) 0.0000-0000'}} </td>
    </ng-container>
    <ng-container matColumnDef="homePhone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let element"> {{element.homePhone | mask: '(00) 0.0000-0000'}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="width: 160px;"></th>
      <td mat-cell *matCellDef="let element;let i = index;" style="width: 160px;text-align: center">
        <button mat-icon-button color="warn" (click)="openDialog(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button [style.color]="!element.favorite ? 'grey' : '#673ab7'" (click)="toogleFavorite(element.id, i)">
          <mat-icon>star</mat-icon>
        </button>
        <button mat-icon-button color="primary" [routerLink]="['/contato/edit', element.id]">
          <mat-icon>search</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="dataSource.totalElements!"
                 [pageSize]="dataSource.size!"
                 (page)="handlePaginator($event)">
  </mat-paginator>

  <button add-button mat-fab color="primary" routerLink="/contato/save">
    <mat-icon>add</mat-icon>
  </button>


</div>
