.wapper{
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

mat-form-field{
  width: 100%;
  margin: 0 1em;
}

.invalid-field{
  font-size: 10px;
  color: red;
  text-align: end;
  margin-top: -1em;
}
.invalid-feedback{
  position: absolute;
  bottom: 0;
  right: calc(0px + 1em);
}
