<div class="wapper">
  <h1>{{!id ? "Criação":"Visualização"}} de um Contato</h1>
  <form [formGroup]="formContato" (ngSubmit)="save()">
    <mat-grid-list cols="6" rowHeight="60px">
      <mat-grid-tile [colspan]="3">
        <mat-form-field appearance="legacy">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <div *ngIf="(submitted || f.name.touched) && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors['required']" class="invalid-field">Campo Obrigatório</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field appearance="legacy">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="mail" type="email">
        </mat-form-field>
        <div *ngIf="(submitted || f.mail.touched) && f.mail.errors" class="invalid-feedback">
          <div *ngIf="f.mail.errors['email']" class="invalid-field">E-mail inválido</div>
          <div *ngIf="f.mail.errors['conflitData']" class="invalid-field">Já existe um email cadastrado</div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3">
        <mat-form-field appearance="legacy">
          <mat-label>Celular</mat-label>
          <input matInput mask="(00) 0.0000-0000" formControlName="cellPhone">
        </mat-form-field>
        <div *ngIf="(submitted || f.cellPhone.touched) && f.cellPhone.errors" class="invalid-feedback">
          <div *ngIf="f.cellPhone.errors['required']" class="invalid-field">Campo Obrigatório</div>
          <div *ngIf="f.cellPhone.errors['mask']" class="invalid-field">Formato inválido</div>
          <div *ngIf="f.cellPhone.errors['conflitData']" class="invalid-field">Já existe um celular cadastrado</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field appearance="legacy">
          <mat-label>Telefone</mat-label>
          <input matInput mask="(00) 0.0000-0000" formControlName="homePhone">
        </mat-form-field>
        <div *ngIf="(submitted || f.homePhone.touched) && f.homePhone.errors" class="invalid-feedback">
          <div *ngIf="f.homePhone.errors['conflitData']" class="invalid-field">Já existe um telefone cadastrado</div>
          <div *ngIf="f.homePhone.errors['mask']" class="invalid-field">Formato inválido</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="6">
        <div style="
      text-align: end;
       width: 100%;
      margin: 0 1em">
        <mat-checkbox
          class="example-margin" color="primary" formControlName="favorite">
          Favorito
        </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <div style="
      text-align: start;
      margin: 0 1em;
       width: 100%;">
          <button mat-flat-button color="primary" style="background: #b3b3b3;color: black" (click)="back($event)" >voltar</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <div style="
      text-align: end;
      margin: 0 1em;
       width: 100%;">
          <button mat-flat-button color="primary" type="submit">Salvar</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
