.bg-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30px;
    filter: brightness(0) invert(1);
  }
}

.space{
  padding: 1em;
  width: 100%;
}

.logo-avatar{
  background: #b3b3b3;
  padding: 0.2em;
}
