<mat-toolbar  color="primary">
  <div class="bg-logo">
    <img src="/../../../assets/img/logo_icon_new.png"/>
  </div>
  <span class="space">Agenda</span>
  <mat-chip-list aria-label="Dog selection">
    <mat-chip [matMenuTriggerFor]="menu">
      <img class="logo-avatar" matChipAvatar src="../../../assets/img/avatar.png" alt="Foto de um usuário"/>
        {{username}}
    </mat-chip>
  </mat-chip-list>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="close()">
      <mat-icon>logout</mat-icon>
      <span>Desconectar</span>
    </button>
  </mat-menu>
</mat-toolbar>
