<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  {{data.message}}
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" color="warn">Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Confirmar</button>
</div>
