@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* You can add global styles to this file, and also import other style files */
body, html{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:not([mat-fab], [mat-mini-fab], [mat-icon-button]) {
  border-radius: unset !important;
}
body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: #b7d8b7;
  border: 0 none;
  color: #212121;
}

